*{padding:0;margin:0;border:0;}
*,*:before,*:after{-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;}
:focus,:active{outline:none;}
a:focus,a:active{outline:none;}
nav,footer,header,aside{display:block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}*/
input,button,textarea{font-family:inherit;}
input::-ms-clear{display:none;}
button{cursor:pointer;}
button::-moz-focus-inner{padding:0;border:0;}
a,a:visited{text-decoration:none;}
a:hover{text-decoration:none;}
/*ul li{list-style:none;}*/
img{vertical-align:top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight:inherit;}

body{
    font-family: 'Montserrat', sans-serif;
    background-color: #FAFAFA;
    color: #8B8B8B;
    font-size: 16px;
}

h1{  
    color: #000000;
    font-size: 28px;
    font-weight: 700;
    line-height: 37px;
    text-align: center;
}

h2{
    font-size: 16px;
    color: #000000;
    font-weight: 700;
    line-height: 21px;
    text-align: center;
    margin: 0 0 15px 0;
}

.page_style{
    max-width: 500px;
    margin: auto;
    padding: 60px 20px 60px 20px;
}
.header{
    margin: 0 0 60px 0;
}

.img{
    
    min-height: 290px;
    width: 90%;
    margin: auto; 

    background-image: url(img/happy-traveler.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover ;
    
}

.conteiner_main{
    margin: 39px 0;
}
/*.content{

}*/
.line{
    width: 60px;
    border-top: 2px solid #407BFF;
    margin: 10px auto 30px;
}

.text_main{
    font-size: 16px;
    font-weight: 300;
    line-height: 21px;
    text-align: center;
    margin: 0 0 30px 0;
}

.buttons{
    display: flex;
    flex-direction: column;
    gap: 10px ; 
}

button{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: white;
    padding:11px 31px ;
    background-color:#407BFF;
    border-radius: 20px;
    align-self: center;
}

button:nth-child(2){
    background-color: #8B8B8B;
}

.conteiner_second{
    margin:  0 0 60px 0;
}

.scoup{
    display: flex;
    gap: 15px;
    flex-direction: column;
}

.card{
    display: flex;
    height: 80px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 4px 6px #407BFF1F;
}

.svg{
    align-self: center; 
    flex: 0 1 94px;
    display:flex;
    justify-content:center;
}

.text_secondary{
    font-weight: 300;
    font-size: 13px;
    line-height: 17px;
    align-self: center;
}

@media screen and (min-width: 500px){
    .page_style{
        max-width: 768px;
    }
    .img{
    
        min-height: 332px;
        width: 400px;
    }    
    .buttons{
        flex-direction: row;
        justify-content:center;
        gap: 20px;
    }
    .text_main{
        max-width: 550px;
        margin: 0 auto 30px;
    }
    .scoup{
        flex-direction: row;
        gap: 20px;
    } 
    .conteiner_second{
        margin:  0 0 80px 0;
    } 
    .card{
        flex-direction: column;
        padding:10px 15px 21px 15px ;
        height: 172px ;
    }
    .text_secondary{
        text-align: center;
        
    }
}

@media screen and (min-width: 768px){
    h1{
        text-align: left;
    }
    h2{
        text-align: left;
    }
    .line{
        margin: 10px 0 30px;
    }
    .page_style{
        max-width: 1100px;
    }
    .header{
        display: flex;
        gap: 60px;
    }
    .header .img{
        order:2;
    }
    .buttons{
        justify-content:left;
        gap: 20px;
    }
    .img{
        min-height: 354px;
        width: 490px;
        background-size: auto;
    }
    .conteiner_second{
        display: flex;
        gap: 60px;
    }
    .text_main{
        text-align: left;
    }
    .scoup{
        max-width: 550px;
    }
    .content_second{
        flex: 1 1 430px;
        
        align-self:center; 
    }

    .card{
        height: 190px ;
        flex: 2 1 auto;
    }

    .conteiner_second:nth-child(2){
        .content_second{
            order: 2;
        }
    }
    .header{
        margin: 0 0 80px 0;
    }

}
